@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.app-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #5688DA;
}
.header-wrapper h1{
    font-size: 15px;
}

.card-body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
}

.card-title{
    display: flex;
    height: 15%;
    color: #5E5E5E;
}

.card-title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.card-title .icon-style{
    padding-right: 10.83px;
}

/* .card-title svg{
    padding-right: 10.83px;
} */

.card{
    margin-bottom: 10px;
    width: 80%;
    min-height: 226px;
}

.card:hover{
    border: 4px solid #5688DA;
}

#card-bootstrap-override{
    border-radius: 20px;
}

.button-wrapper{
    display: flex;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button-style{
    height: 250px;
    width: 250px;
    border-radius: 100px;
    background-color: #5688DA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.button-style h1{
    color: white;
    font-family: "Poppins";
    font-size: 15px;
    margin-top: 28px;
}

.loading{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}

.loading h1{
    font-family: "Poppins";
    color: #5688DA;
}

.content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.specific-line{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
}